*{transition: all .1s ease-in;}

.container {
    max-width: 534px;
    width: 100%;
    margin: 0 auto;
}
 body {
    background-color: #3B3F45;
 }
.header {
    background-color: #4A4F56;
}
.header {
    padding: 19px 0 12px 0;
}
.header .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FF8984;
}
.header h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FF8984;
}
.main {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}
.items__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 534px;
    background-color: #88839E;
    color: #FFFFFF;
}
.items__list label:nth-child(2n) {
    background: #7A7593;
}
.block {
    position: relative;
    height: 45px;
    padding-top: 11px;
    padding-left: 13px;
    cursor: pointer;
}
.block:hover {
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}
input[type=checkbox] {
    height: 19px;
    width: 19px;
    margin: 5px;
}
.main_text { 
    display: inline;
    font-size: 18px;
}
.addition {
    font-size: 11px;
    display: inline;
}

.items__list .block:active {
    background: #625E77;
}
.checkbox__input:checked ~ .main_text,
.checkbox__input:checked ~ .main_text + .addition {
    text-decoration: line-through;
}
.last__box {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.box {
    width: 534px;
    display: flex;
    justify-content: center;
    background: #4A4F56;
}
.text {
    margin-top: 12px;
    margin-bottom: 12px;
}
.box p {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    color: #FF8984;
}